//Utility Section
$primary-color : #005553 ;  
$highlight-color : #002F2E; 
$primary-color-light: #49BCB8;  

 .button_templet{ 
    text-align: center;  
    color: $primary-color-light ;
    width: 180px;
    margin-left: 10px;
    padding: 7px 10px 7px 15px;
    border-style: solid;
    border-width: 1px;
    border-color: $primary-color-light;
    border-radius: 100px;
    -webkit-transition: background-color .2s ease;
    transition: background-color  .2s ease;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 1px;
    
}

@font-face {
    font-family: Avenirnextltpro;
    src: url("../Fonts/AvenirNextLTPro-Regular.otf");
  } ;
 
  @font-face {
    font-family: Avenirnextltpro_Demi;
    src: url("../Fonts/AvenirNextLTPro-Demi.otf");
  }  ;
 

.justify-content-between{ 
  justify-content: space-between;
}
  
.holder{ 
    margin-left: 30px; 
    padding-left: 15px;
    padding-right: 15px; 
    margin-right: 15px;
} 

 body,html{  
     width: 100%;
    
     
     
     /* a{ 
        text-decoration: none;
    } ;  */ 

     .container{ 
      
        margin-left: 30px; 
        margin-right: 30px; 
        padding-bottom: 10px;
    }   

    .row{ 
        margin-right: 0px;
    }
     
    section{ 
        flex-wrap: nowrap;  
        max-height: 800px; 

       
        
        
    }
    
 } 

 
 //End  
 //Header
#header{  
    padding: 0px 0px 20px 0px;
            
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
            
    .main-menu {
        padding-top: 20px; } 
    
 
         
         
        #logo { 
   
            margin-left: 15px; 
        
            @media (max-width: 673px) {
              
                margin-left: 20px;  }
          
        
          
           img {
            padding: 0;
            margin: 0; 
            width: 130px; 
            display: block;  }
          
          
             img {
              max-height: 40px; } }  
        
            
            
            
            
            
            } 

 // Ends here 
 
 
//This code is added onto the class uing javascript once the screen size is reduced passed 980 px
 
  .header-scrolled {
    position: fixed;
    box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
    background: #fff;
    transition: all 0.5s;  
    z-index: 10;
} 

    .header-scrolled #nav-menu-container {
      margin-left: auto; }
    .header-scrolled.dark {
      background: #222222; }

   
  
 // End

// NavBar begins here 
#nav-menu-container{ 
    margin: 0; 
    flex-wrap: nowrap; 
    top: 6px;
        
    
 .nav-menu,
  .nav-menu * {
    margin: 0;
    padding: 0; 
    list-style: none;  
  
   
  } 
 
  
  .nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
    background: rgba(255, 255, 255, 0.9); 
    margin: 33px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff; }
  
  
  .nav-menu ul li {
    min-width: 180px;
    text-align: left;  
    transition: 0.3s;  
    padding-top: 3px;  
     } 

     .nav-menu li {
        position: relative;
        white-space: nowrap;  
        float: left;}
      
  
     .nav-menu > li {
        margin-right: 44px;  
        }
        .nav-menu > li:last-child {
          margin-right: 0; 
          padding-right: 0; 
          bottom: 5px; }
  

          .nav-menu ul li a {
            padding: 10px; 
            color: #333;
            transition: 0.3s;
            display: block;
            font-size: 13px;
            text-transform: none;
            font-weight: 400; }
  
  .nav-menu a {
    padding: 0px;
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-weight: 400;
    font-size: 16px; 
    text-align: left; 
    letter-spacing: .5px;
    text-transform: capitalize;
    outline: none;
    font-family: "Avenirnextltpro", sans-serif;  
    

      } 
  
    #button{     
        @extend .button_templet;
        }  
        #button:hover {  
            color: white;
            background-color: $primary-color-light; 
            
        } 
  

   
    
   
}  
//NavBar ends Here 



// Mobile Section Begins Here
.sf-arrows .sf-with-ul {
  padding-right: 28px; }

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal; }

.sf-arrows ul .sf-with-ul:after {
  content: "\f105"; } 

#mobile-nav-toggle {
  position: fixed;
  right: 15px;
  z-index: 999;
  top: 15px;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none; 
  padding-right: 40px;
  cursor: pointer; }
  
#mobile-nav-toggle i {
  color:$highlight-color;
  font-weight: 900; }

@media (max-width: 992px) {
  #mobile-nav-toggle {
    display: inline; }

  #nav-menu-container {
    display: none; } }

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: white ;
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s; }

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none; }

#mobile-nav ul li {
  position: relative; }

#mobile-nav ul li a {
  color: $highlight-color;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 400; }

#mobile-nav ul li a:hover {
  color: #fff; }

#mobile-nav ul li li {
  padding-left: 30px; }

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff; }

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: $primary-color; }

#mobile-nav ul .menu-has-children li a {
  text-transform: none; }

#mobile-nav ul .menu-item-active {
  color: $primary-color; }

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none; }

body.mobile-nav-active {
  overflow: hidden; }

body.mobile-nav-active #mobile-nav {
  left: 0; }

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff; }  

  //Mobile Section Ends Here

  //Hero Section Begins Here
#hero-section{  
    margin-top: 140px;  
    margin-right: 30px;
     .hero_container{ 
        margin-left: 30px; 
        padding-left: 15px;
        padding-right: 15px; 
        
       
     } 

     .Sub-title1{  
        
        font-family: 'Avenirnextltpro' ,sans-serif;
        font-size: 17px;
        line-height: 35px; 
        letter-spacing: .8px;  
        max-width: 1600px;
        margin-right: auto;
        margin-left: auto; 
        margin-bottom: 10px;  
         @media (min-width: 1600px) {  
            font-size: 1.5rem;  
           

         } 
        
        } 
    
        .Sub-title2{ 
            @extend .Sub-title1 ; 
            margin-top: 80px; 
            letter-spacing: 1px; 
           
        } 
    
    
        .hero-img{  
            position: relative;
            bottom: 70px;  
            overflow: hidden;
            max-width: 100%;
            max-height: 80vh;
            align-self: center; 
            padding-left: 4px;  
            background-size: cover; 
            background-repeat: no-repeat; 
         
            @media (max-width: 992px) {  
             display: none;
            }  
            @media(max-width: 1200px){ 
               top: 10px;
            } 
            
            
           
           
        } 
       
        
    
        .Title{ 
       
        margin-bottom: 40px;
        text-align: left; 
        margin-top: 0;
        font-family: 'Avenirnextltpro_Demi',sans-serif; 
        font-size: 32px;
        line-height: 44px; 
        font-weight: 700;  
        max-width: 1600;
        span{ 
            color: $primary-color;
        } 
        @media (min-width: 1600px) {  
           font-size: 2rem; 
        } 
        @media(max-width: 1200px){ 
           margin-bottom: 30px;
        }
        } 
        .line{  
            position: relative;
            display: flex; 
            left: 40px;
            
            width: 70px;
            border-style: solid;
            border-width: 2px;
            border-color: $highlight-color;
            border-radius: 5px; 
            
        } 
 } 
//Hero Section Ends Here 

//Animated Section Begins Here 
 #animated-section{  
    padding-top: 30px;
    margin-top: 169px;  
    background-color: $highlight-color; 
    p{ 
        text-align: center;
        font-size: 27px;
        padding-bottom: 30px ; 
        font-family: inherit; 
        color: white;
    } 
   
    .overlay{  
         left: 60px; 
         bottom: 20px;
        align-self: center;
        
       
        

        img{  

            width: 25%;
        }
    } 


 }
// Animated Section Ends Here


// CaseStudy Section Begins Here
#CaseStudy-section{  
    padding-top: 30px;
    margin-top: 100px;   
    
    img{ 
       max-width:  100%; 
        background-size: cover; 

    } 
    .headings{  
       
            align-self: end;
        
    
      
    } 
    .Title{ 
        font-size: 30px; 
        font-family: "Avenirnextltpro"; 
        padding-bottom: 5px;  
       
    } 
    .Sub-title{ 
        font-size: 20px; 
        font-family: "Avenirnextltpro"; 
        padding-bottom: 20px;  
        line-height: 35px; 
        letter-spacing: .8px;   
        
    
    } 
    .button{  
        @extend .button_templet;
        top: 2px;  
        font-family: "Avenirnextltpro"; 
        font-weight: 400; 
        line-height: 13px;  
        letter-spacing: 1.5px; 
        font-size: 15px; 
        padding: 10px 24px 8px; 
        margin-left: 0;
        right: 6px; 
        
    
    }  
    .button:hover{ 
        text-decoration: none; 
        color: white;
        background-color: $primary-color-light; 
    }
   

}   
// CaseStudy Section Ends Here 

//Fotter Begins Here
footer{ 
    margin-top: 100px; 
    background-color: $highlight-color;   
    width: 100%;
    height: 400px; 
    
    img{  
        float: left;  
        
        width: 50px;
        padding-top: 20px; 
        padding-left: 5px;

    }; 
    .nav{ 
        padding-top: 10%;  
        padding-left: 5%;
        ul li { 
            color: white;  
            list-style: none; 
           } 
        ul li:first-child{ 
           color: $primary-color-light;
            
        }
           
    }
    
}   

//Footer Ends Here 