<body>
  <header id="header" >
		<div class="holder main-menu">
			<div class="justify-content-between row  align-items-center  d-flex">
				<div id="logo" >
					<a href=""><img  src="assets/image/logo.jpg"  alt="" title=""  /></a>
        </div>  
        <nav id="nav-menu-container"  >
          <ul class="nav-menu">
                        
                        <li><a href="#a">AboutUs</a></li> 
                        <li><a href="#">Resource</a></li>
                        <li><a href="#">VitalQc</a></li> 
                        <li><a href="#">Log In</a></li>  

                        <li ><a id="button"> Request Demo</a></li>
            
          </ul>
        </nav> 
        
        
        
				
			</div>
		</div>
  </header> 
  
  <section id ="hero-section" >  
     
   <div class="row hero_container"> 
     <div class="col-lg-6 col-md-12">   
      <hr class=" line"> 
        <div class="Title"> 
          A new standard for validating <span>Pneumatic Tube Systems </span> 
        </div> 
        <div class="Sub-title1"> 
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
        </div> 
        <div class="Sub-title2"> 
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
        </div>

     </div> 
     <div class="col-lg-6 "> 
       <img  class="hero-img"src="assets/image/40638.jpg" alt="">
     </div>
   </div>
  </section>


<section id="animated-section"> 
 <p >Motryx Bridges The Gap Between Systematic & Clinical  Validation </p>
<div class="row ">
  <div class="col-5"><img  src="assets/image/chatbot.svg" alt=""></div> 
  <div class=" col-2 overlay"><img src="assets/image/Motrylogo.png" alt=""></div>
  <div class="col-5"><img src="assets/image/discovery.svg" alt=""></div> 
  
</div> 

</section> 

<section id="CaseStudy-section"> 
<div class="row holder ">
  <div class="col-lg-6 col-sm-12"> 
    <img src="assets/image/labtop.jpeg" alt="">
  </div>
  <div class="col-lg-6 col-sm-12 headings"> 
   <p class="Title">“A 50% reduction in required blood samples”</p> 
   <p class="Sub-title">Learn how Bispebjerg Hospital validated their pneumatic system with 50% less blood</p>
   <a class="button"> View Case Study</a>
  </div>
</div>
</section> 

<footer >   
  <div class="holder"> 
    <div><img src="assets/Image/Motrylogo.png" alt=""></div> 

    <div class="  row d-flex nav">  
      <div class="col-4"> 
        <ul>
          <li>Company</li>
          <li>Support</li>
          <li>About US</li> 
          <li>Careers</li> 
        </ul> 
       </div>
     <div class="col-4"> 
       <ul>
         <li>Solution</li>
         <li>VitalQc</li>
         <li>Resource</li>
       </ul>
     </div>
     
     <div class="col-4"> 
      <ul>
        <li>Request a Demo</li>
        <li>Login In</li>
        
      </ul>
     </div>
  
    </div>
  
  </div>
  

</footer>





</body>